{{ $lang := site.LanguageCode }}
<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    <title>
      {{ block "title" . }}
        {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}
  </head>

    <body>
    <div class="container-fluid m-0 p-0">
      {{ partial "navbar.html" . }}

      <div class="row flex-xl-nowrap mr-0 ml-0">
        <div class="col col-md-3 col-sm-12 d-none d-md-block vh-100" id="sidebar">
          {{ partial "sidebar.html" . }}
        </div>
        <main class="col col-md-9 col-sm-12">
          {{ block "main" . }}
          {{ end }}

          {{ partial "footer.html" . }}
        </main>
    </div>
      {{ partial "javascript.html" }}
  </div>
  </body>
</html>
