<p style="vertical-align: middle" id="breadcrumbs">
    <a href="/">Home</a> 
    {{- $.Scratch.Set "url" "" -}}
    {{- range (split .RelPermalink "/") -}}
        {{- if (gt (len .) 0) -}}    
            {{- $.Scratch.Set "isPage" "false" -}}
            {{- $.Scratch.Add "url" (print "/" . ) -}}
            {{- if $.Site.GetPage (print . ".md") -}}
                {{- with $.Site.GetPage (print . ".md") -}}
                    {{- if .IsPage -}}
                        {{- $.Scratch.Set "isPage" "true" -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
            {{- if eq ($.Scratch.Get "isPage") "true" -}}
                {{- with $.Site.GetPage (print . ".md") -}}
                  &nbsp;&nbsp; > <a href="{{ $.Scratch.Get `url` }}">{{ .Title }}</a>
                {{- end -}}
            {{- else -}}
               &nbsp;&nbsp; > <a href="{{ $.Scratch.Get `url` }}">{{ humanize . }}</a>
            {{- end -}}
        {{- end -}}
    {{- end -}}
</p>
