
{{ $home   := site.BaseURL }}
{{ $here   := .RelPermalink }}
{{ $title  := site.Title }}
{{ $logo   := site.Params.logos.navbar }}
{{ $menu   := site.Menus.main }}
{{ $social := site.Params.social }}

<div class="flex" id="nav-container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        {{ if $logo }}
        {{ $url := printf "img/logos/%s" $logo | relURL }}
          <img src="{{ $url }}" class="logo">
        {{ else }}
        {{ $title }}
        {{ end }}
      </a>
    </div>

    <div id="sidebar-nav">
      <ul class="nav flex-column">
        {{ with $menu }}
        {{ range . }}
        {{ $isHere := eq .URL $here }}
        <li class="navbar-start navbar-item{{ if $isHere }} is-active{{ end }}">
          {{ $isExternal := hasPrefix .URL "http" }}
          <a class="nav-link" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
            {{ .Name }}
          </a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
</div>
