{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<section class="text-white jumbotron rounded-0" id="hero">
  <div class="container">
    <h1>
      {{ $title }}
    </h1>

    {{ with $desc }}
    <p class="lead">
      {{ . }}
    </p>
    {{ end }}

  <a 
    class="my-3 mr-3 btn btn-purple text-light btn-lg" href="/about" 
    aria-label="Learn more"
    rel="noopener"
  >
  Learn more
  </a>

  <a 
    class="my-3 mr-3 btn btn-purple text-light btn-lg" href="/participate/" 
    aria-label="Get involved"
    rel="noopener"
  >
  Get involved
  </a>
  </div>
</section>
