{{ $lang := site.LanguageCode }}
<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    <title>
      {{ block "title" . }}
        {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}
    <!-- Add meta tags for SEO and viewport -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
  </head>

  <body class="flex flex-col min-h-screen bg-gray-50">
    {{ partial "navbar.html" . }}
    
    <div class="flex-grow">
      <main class="container mx-auto px-4">
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
    
    {{ partial "footer.html" . }}
    {{ partial "javascript.html" }}
  </body>
</html>
