{{ define "main" }}
  <header>
    <div>
      
    </div>
  </header>
  <div class="container">
      <section class="row">
        <section class="col col-8">

          <p class="mt-5 mb-5">
            {{ partial "breadcrumb.html" . }}
          </p>

          <h1 class="title">{{ .Page.Title | markdownify }}</h1>
          <p class="subtitle">{{ .Page.Description | markdownify }}</p>

	  <h2 class="subtitle">The Inclusive Naming Word Lists v1.0 is now available:</h2>
          <p> <strong>This page and its subpages are available as a single downloadable file in these formats: <a href="index-simplified.html" target="_blank">HTML</a> |  <a href="index.odt" target="_blank">OpenDocument (.odt)</a> |  <a href="index.json" target="_blank">JSON</a>  formats.</strong></p>
	  <p> (If you want the entire list of all the words in this release as a single file, use these links instead: <a href="https://inclusivenaming.org/word-lists/inclusive-naming-word-lists-v1.0.html" target="_blank">HTML</a>, <a href="https://inclusivenaming.org/word-lists/inclusive-naming-word-lists-v1.0.index.odt" target="_blank">OpenDocument (.odt)</a>, or <a href="https://inclusivenaming.org/word-lists/inclusive-naming-word-lists-v1.0.json" target="_blank">JSON</a>)</p>
	  <p> <em>PDF and other formats will be added soon.</em></p>

          {{ partial "docs/content_wordlist.html" . }}
        </section>
        <section class="col col-4">
          {{ partial "docs/section-nav_wordlist.html" . }}
          <hr />
        </section>
      </section>
    </div>
{{ end }}
