{{ define "main" }}
  <div class="container single">
      <section class="row">
        <section class="mb-5 col col-lg-9 col-sm-12">

          <p class="mt-5 mb-5">
            {{ partial "breadcrumb.html" . }}
          </p>

	  <h3 class="subtitle">The Inclusive Naming Word Lists v1.0 is now available!</h3>
          <p> This page and its subpages are available as a single downloadable file in these formats: <a href="inclusive-naming-word-lists-v1.0.html" target="_blank">HTML</a> |  <a href="inclusive-naming-word-lists-v1.0.odt" target="_blank">OpenDocument (.odt)</a> |  <a href="index.json" target="_blank">JSON</a>  formats.</p>
	  <p> You can download the list of all the words in this release as a single file in these formats: <a href="https://inclusivenaming.org/word-lists/inclusive-naming-word-lists-v1.0.html" target="_blank">HTML</a> |  <a href="https://inclusivenaming.org/word-lists/inclusive-naming-word-lists-v1.0.odt" target="_blank">OpenDocument (.odt)</a> |  <a href="https://inclusivenaming.org/word-lists/index.json" target="_blank">JSON</a>  formats.</p> 
	  <p> <em>PDF and other formats will be added soon.</em></p>
          
          <h1 class="title">Word List: Tier {{ .Params.tier}}</h1>
          <section>
            <h2>Term: {{ .Params.term}}</h2>
           

            <h3>Definition</h3>
            <p>{{.Params.definition | markdownify}}</p>
            
            <h3>Related Terms</h3>
            <ul>
              {{ range .Params.related_terms }}
              <li>
              {{ . }}
              </li>
              {{ end }}
            </ul>

            <h3>Usage Context</h3>
            <p>{{.Params.usage_context | markdownify}}</p>

            <h3>Recommendation</h3>
            <p>{{.Params.recommendation | markdownify}}</p>

            <h3>Recommended Replacements</h3>
            <ul>
              {{ range .Params.recommended_replacements }}
              <li>
              {{ . }}
              </li>
              {{ end }}
            </ul>

            <h3>Unsuitable Replacements</h3>
            <ul>
              {{ range .Params.unsuitable_replacements }}
              <li>
              {{ . }}
              </li>
              {{ end }}
            </ul>

            <h3>Rationale</h3>

            <p>{{.Params.rationale | markdownify}}</p>

            <h3>Term Status</h3>

            <p>{{.Params.status | markdownify}}</p>

            <h3>Supporting Content</h3>

            <p>{{.Params.supporting_content | markdownify}}</p>
           
          </section>

          

        </section>
      </section>
    </div>
{{ end }}
