<div class="mt-5 row logos">
  
  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/stephen.png" class="rounded-circle" title="Stephen Augustus" />
      <h4>Stephen Augustus</h4>
      <p>Head of Open Source<br/>
        Cisco</p>
      <p>Community Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/jbrooks.jpg" class="rounded-circle" title="Jason Brooks" />
      <h4>Jason Brooks</h4>
      <p>Manager, OSPO <br/> Red Hat</p>
      <p>Community Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/dale.jpg" class="rounded-circle" title="Dale Davis Jones" />
      <h4>Dale Davis Jones</h4>
      <p>Vice President & Distinguished Engineer <br/> IBM</p>
      <p>Community Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/lkunz.jpg" class="rounded-circle" title="Larry Kunz" />
      <h4>Larry Kunz</h4>
      <p>Information Architect <br/> Extreme Networks</p>
      <p>Language Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/jstleger.jpg" class="rounded-circle" title="Jim St. Leger" />
      <h4>Jim St. Leger</h4>
      <p>Marketing Manager <br/> Intel</p>
      <p>Marketing Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/jlee.jpg" class="rounded-circle" title="Joanna Lee" />
      <h4>Joanna Lee</h4>
      <p>Partner <br/> Gesmer Updegrove LLP</p>
      <p>Standards Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/apellet.jpg" class="rounded-circle" title="Monica Rush" />
      <h4>André Pellet</h4>
      <p>Director, Content and Knowledge Management <br/> Dell EMC</p>
      <p>Company Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/mrush.jpg" class="rounded-circle" title="Monica Rush" />
      <h4>Monica Rush</h4>
      <p>Senior Program Manager <br/> Microsoft</p>
      <p>Company Workstream Lead</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/priyanka.jpg" class="rounded-circle" title="Priyanka Sharma" />
      <h4>Priyanka Sharma</h4>
      <p>General Manager <br/>
        CNCF</p>
      <p>Marketing Workstream Lead</p>
  </div>


  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/mschnoor.jpg" class="rounded-circle" title="Monica Rush" />
      <h4>Matthew Schnoor</h4>
      <p>Debug Architect <br/> Intel</p>
      <p>Standards Workstream Lead</p>
  </div>

<div class="mt-4 text-center col col-md-4 col-6">
  <img src="/img/headshots/ewarnicke.png" class="rounded-circle" title="Ed Warnicke" />
    <h4>Ed Warnicke</h4>
    <p>Distinguished Engineer <br/> Cisco</p>
</div>

<div class="mt-4 text-center col col-md-4 col-6">
  <img src="/img/headshots/abubakar.png" class="rounded-circle" title="Abubakar Siddiq Ango" />
    <h4>Abubakar Siddiq Ango</h4>
    <p>Developer Evangelism Program Manager <br/> GitLab</p>
</div>

<div class="mt-4 text-center col col-md-4 col-6">
  <img src="/img/headshots/taylor-waggoner.png" class="rounded-circle" title="Taylor Waggoner" />
    <h4>Taylor Waggoner</h4>
    <p>Program Manager <br/> CNCF</p>
</div>


</div>



<h1>Emeritus</h1>

<div class="mt-5 row logos">
<div class="mt-4 text-center col col-md-4 col-6">
  <img src="/img/headshots/celeste.png" class="rounded-circle" title="Celeste Horgan" />
    <h4>Celeste Horgan</h4>
    <p>Staff Technical Writer <br/> Stripe</p>
    <p>Inclusive Naming Co-Founder</p>
</div>

</div>
