<div class="mt-5 row logos">
  
  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/priyanka.jpg" class="rounded-circle" title="Priyanka Sharma" />
      <h4>Priyanka Sharma</h4>
      <p>General Manager <br/>
        CNCF</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/stephen.png" class="rounded-circle" title="Stephen Augustus" />
      <h4>Stephen Augustus</h4>
      <p>Head of Open Source<br/>
        Cisco</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/celeste.png" class="rounded-circle" title="Celeste Horgan" />
      <h4>Celeste Horgan</h4>
      <p>Sr. Technical Writer <br/> CNCF</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/bill.png" class="rounded-circle" title="Bill Mulligan" />
      <h4>Bill Mulligan</h4>
      <p>Marketing Manager <br/> CNCF</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/ed.jpg" class="rounded-circle" title="Ed Warnicke" />
      <h4>Ed Warnicke</h4>
      <p>Distinguished Engineer <br/> Cisco</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/dale.jpg" class="rounded-circle" title="Dale Davis Jones" />
      <h4>Dale Davis Jones</h4>
      <p>Vice President & Distinguished Engineer <br/> IBM</p>
  </div>

  <div class="mt-4 text-center col col-md-4 col-6">
    <img src="/img/headshots/jason.png" class="rounded-circle" title="Jason Brooks" />
      <h4>Jason Brooks</h4>
      <p>Manager, Open Source Projects Office <br/> Red Hat</p>
  </div>

</div>
