<div class="mt-5 row logos">
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://akamai.com" target="_blank" rel="noopener"><img src="/img/logos/akamai.png" title="Akamai" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://cisco.com" target="_blank" rel="noopener"><img src="/img/logos/cisco.svg" title="Cisco" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://cncf.io" target="_blank" rel="noopener"><img src="/img/logos/cncf-color.png" title="Cloud Native Computing Foundation" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://ibm.com" target="_blank" rel="noopener"><img src="/img/logos/ibm.svg" title="IBM" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://intel.com" target="_blank" rel="noopener"><img src="/img/logos/intel.svg" title="Intel" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://linuxfoundation.org" target="_blank" rel="noopener"><img src="/img/logos/lf-color.png" title="Linux Foundation" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://redhat.com" target="_blank" rel="noopener"><img src="/img/logos/redhat-color.svg" title="Red Hat" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://sddi.org" target="_blank" rel="noopener"><img src="/img/logos/sddi-color.svg" title="Software Developer Diversity and Inclusion" /></a>
  </div>
  <div class="mt-4 col col-md-4 col-6">
    <a href="https://vmware.com" target="_blank" rel="noopener"><img src="/img/logos/vmware.png" title="VMWare" /></a>
  </div>
</div>
