<!--Premier Membership-->
<div class="m-5">
  <h2>Premier Sponsors</h2>
  <div class="mt-5 row logos">
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://cisco.com" target="_blank" rel="noopener"><img src="/img/logos/sponsors/cisco.svg" title="Cisco" /></a>
    </div>
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://intel.com" target="_blank" rel="noopener"><img src="/img/logos/sponsors/intel.svg" title="Intel" /></a>
    </div>
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://redhat.com" target="_blank" rel="noopener"><img src="/img/logos/sponsors/redhat-color.svg" title="Red Hat" /></a>
    </div>
  </div>
</div>



<!--Champion Member-->
<div class="m-5">
  <h2>Champion Sponsors</h2>
  <div class="mt-5 row logos">
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://www.extremenetworks.com/m" target="_blank" rel="noopener"><img src="/img/logos/sponsors/extreme-networks-inc.svg" title="Extreme Networks, Inc." /></a>
    </div>
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://canonical.com/" target="_blank" rel="noopener"><img src="/img/logos/sponsors/canonical-group-limited.svg" title="Canonical Group Limited" /></a>
    </div>
  </div>
</div>


<!--Associate Member-->
<div class="m-5">
  <h2>Associate Sponsors</h2>
  <div class="mt-5 row logos">
    
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://cncf.io" target="_blank" rel="noopener"><img src="/img/logos/sponsors/cncf-color.png" title="Cloud Native Computing Foundation" /></a>
    </div>
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://cd.foundation/" target="_blank" rel="noopener"><img src="/img/logos/sponsors/cdf.svg" title="Continuous Delivery Foundation" /></a>
    </div>
    <div class="mt-4 col col-md-4 col-6">
      <a href="https://geek.zone/" target="_blank" rel="noopener"><img src="/img/logos/sponsors/geek-zone.svg" title="Geek.Zone" /></a>
    </div>
    
  </div>
</div>
