<div class="row logos">
  <div class="col col-md-4 col-6">
    <a href="https://cisco.com" target="_blank" class="mx-auto"><img src="/img/logos/cisco.svg" title="Cisco" /></a>
  </div>
  <div class="col col-md-4 col-6">
    <a href="https://cncf.io" target="_blank"><img src="/img/logos/cncf-color.png" title="Cloud Native Computing Foundation" /></a>
  </div>
  <div class="col col-md-4 col-6">
    <a href="https://linuxfoundation.org" target="_blank"><img src="/img/logos/lf-color.png" title="Linux Foundation" /></a>
  </div>
  <div class="col col-md-4 col-6">
    <a href="https://redhat.com" target="_blank"><img src="/img/logos/redhat-color.svg" title="Red Hat" /></a>
  </div>
  <div class="col col-md-4 col-6">
    <a href="https://sddi.org" target="_blank"><img src="/img/logos/sddi-color.svg" title="Software Developer Diversity and Inclusion" /></a>
  </div>
</div>
