<div class="mt-5 row media">
  <div class="mt-4 col col-md-4 col-6 well">
    <img src="/img/media-mentions/joinup.png" class="float-left" title="the-register" height="100" width="250"/>
  </div>
  <div class="col col-md-8 col-6 mt-4 font-weight-bolder">
    <h6> <a href="https://joinup.ec.europa.eu/collection/open-source-observatory-osor/news/using-inclusive-language-programming"> The Cloud Native Computing Foundation launched the Inclusive Naming Initiative for an inclusive programming language.</a></h6>
    <div class="date-icon posted-date-row">Posted on Nov 06, 2021</div>
    <p class="media-mentions-content">The Inclusive Naming Initiative was inspired by the effort made by the Kubernetes Naming Working Group in tackling and replacing harmful language connected to “racism, sexism, homophobia, transphobia, ableism, or discrimination against any protected or historically underrepresented group”.
    </p>
  </div>

  <div class="mt-4 col col-md-4 col-6 well">
    <img src="/img/media-mentions/theserverside.png" class="float-left" title="the-register" height="100" width="250"/>
  </div>
  <div class="col col-md-8 col-6 mt-4 font-weight-bolder">
    <h6> <a href="https://www.theserverside.com/feature/How-enterprises-are-building-inclusive-language-in-code"> How enterprises are building inclusive language in code</a></h6>
    <div class="date-icon posted-date-row">Posted on Jun 16, 2021</div>
    <p class="media-mentions-content">Inclusive language in code is just one step towards a diverse community, but it's a good place to start. It's a conversation more and more open source enterprises are tackling.
    </p>
  </div>

  <div class="mt-4 col col-md-4 col-6 well">
    <img src="/img/media-mentions/cncf-stacked-color.svg" height="150" width="300" class="align-self-start mr-3" title="CNCF" />
  </div>
  <div class="col col-md-8 col-6 mt-4 font-weight-bolder">
    <h6> <a href="https://www.cncf.io/announcements/2021/05/04/cloud-native-computing-foundations-inclusive-naming-initiative-selected-as-honorable-mention-in-the-software-category-of-fast-companys-2021-world-changing-ideas-awards/"> Inclusive Naming Initiative Selected as Honorable Mention in the Software Category of Fast Company’s 2021 World Changing Ideas Awards</a></h6>
    <div class="date-icon posted-date-row">Posted on May 4, 2021</div>
    <p class="media-mentions-content">The Inclusive Naming Initiative, which has won honorable mention in the Software category, removes harmful, racist and unclear language in software and unifies the adoption of replacement terms across the technology industry. 
    </p>
  </div>


  <div class="mt-4 col col-md-4 col-6 well">
    <img src="/img/media-mentions/nytimes.png" class="float-left" title="the-register" height="100" width="250"/>
  </div>
  <div class="col col-md-8 col-6 mt-4 font-weight-bolder">
    <h6> <a href="https://www.nytimes.com/2021/04/13/technology/racist-computer-engineering-terms-ietf.html"> ‘Master,’ ‘Slave’ and the Fight Over Offensive Terms in Computing</a></h6>
    <div class="date-icon posted-date-row">Posted on Apr 13, 2021</div>
    <p class="media-mentions-content">Inclusive Naming Initiative, aims to provide guidance to standards bodies and companies that want to change their terminology but don’t know where to begin.
    </p>
  </div>

  
  <div class="mt-4 col col-md-4 col-6 well">
    <img src="/img/media-mentions/the-register.png" class="float-left" title="the-register" />
  </div>
  <div class="col col-md-8 col-6 mt-4 font-weight-bolder">
    <h6> <a href="https://www.theregister.com/2020/11/19/inclusive_naming_initiative/"> Linux Foundation, IBM, Cisco and others back ‘Inclusive Naming Initiative’ to change nasty tech terms</a></h6>
    <div class="date-icon posted-date-row">Posted on Nov 19, 2020</div>
    <p class="media-mentions-content">A new group called the “Inclusive Naming Initiative” has revealed its existence and mission “to help companies and projects remove all harmful and unclear language of any kind and replace it with an agreed-upon set of neutral terms.”
    </p>
  </div>

  <div class="mt-4 col col-md-4 col-6 well">
    <img src="/img/media-mentions/theCube.png" class="float-left" title="the-register" />
  </div>
  <div class="col col-md-8 col-6 mt-4 font-weight-bolder">
    <h6> <a href="https://siliconangle.com/2020/11/18/cncf-inclusive-naming-initiative-provides-framework-to-eliminate-divisive-terminology-in-code-kubecon/"> CNCF Inclusive Naming Initiative provides framework to eliminate divisive terminology in code</a></h6>
    <div class="date-icon posted-date-row">Posted on Nov 18, 2020</div>
    <p class="media-mentions-content">The language evaluation framework created by the Kubernetes work group has three orders of concern based on the potential harm a word or phrase could cause. First-order concerns are those that need to be eliminated immediately.
    </p>
  </div>
</div>


